<div data-hook="admin_partner_form_fields">

  <div data-hook="admin_partner_form_meta" class="alpha omega twelve columns">

    <%= f.field_container :pname do %>
        <%= f.label :pname %><br />
        <%= f.text_field :pname, :class => 'fullwidth name' %>
        <%= f.error_message_on :pname %>
    <% end %>

    <%= f.field_container :phone do %>
        <%= f.label :phone %><br />
        <%= f.text_field :phone, :class => 'fullwidth phone' %>
        <%= f.error_message_on :phone %>
    <% end %>

    <%= f.field_container :unique do %>
        <%= f.label :unique %><br />
        <%= f.text_field :unique, :class => 'fullwidth unique' %>
        <%= f.error_message_on :unique %>
    <% end %>

    <%= f.field_container :site_url do %>
        <%= f.label :site_url %><br />
        <%= f.text_field :site_url, :class => 'fullwidth site_url'%>
        <%= f.error_message_on :site_url %>
    <% end %>

  </div>
  <div class="clear"></div>
  <div data-hook="admin_partner_form_additional_fields"></div>
  <div class="clear"></div>
</div>