<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
   <%= Spree.t("partners.edit_partner") %>  "<%= @partner.pname%>"
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t("partners.back_to_partners_list"), spree.admin_partners_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render "spree/shared/error_messages", :target => @partner %>

<%= form_for [:admin, @partner] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
